$spacers: (
        xxs: 4,
        xs: 8,
        s: 12,
        m: 16,
        ml: 20,
        l: 24,
        xl: 32,
        xxl: 40
);

$options: (
        'mar': (
                prop: 'margin',
                prefix: 'mar'
        ),
        'pad': (
                prop: 'padding',
                prefix: 'pad'
        )
);