$white: #fff;
$black: #1e2021;

$color-success: #00e37d;
$color-bg-success: #f2fff5;

$color-approved: #ffe000;
$color-bg-approved: #ffffe9;

$color-action: #736fde;
$color-bg-action-darker: #726fde;
$color-bg-action: #b8b6ee;

$color-alert: #e30054;
$color-grey-darker: #656565;
$color-bg-alert: #ffe9f1;
$color-hover-alert: rgba(227, 0, 84, .64);

$color-bg-dark: #767676;
$color-bg-medium: #b9b9b9;
$color-bg-light: #f3f3f3;
$color-bg-light-hover: #f5f5f5;
$color-bg-lighter: #f9f9f9;
$color-bg-lighter-hover: #fdfcfc;
$color-bg-action-medium: #bebdfa;

// $color-bg-action-medium: rgba(156, 153, 239, .68);
$color-bg-action-mid-light: rgba(214, 216, 253, .7);
$color-bg-action-light: rgba(214, 216, 253, .4);
$color-bg-action-lighter: rgba(156, 153, 239, .06);
$color-bg-dialogue: rgba(36, 39, 114, .9);
$color-bg-lightest: rgba(0, 0, 0, .06);

$color-gradient-start: #242772;
$color-gradient-end: #54256f;

$color-overlay-darken: rgba(0, 0, 0, .2);
$color-overlay-darken-focus: rgba(0, 0, 0, .32);
$color-overlay-text: rgba(255, 255, 255, .32);

$color-performance-green: #44f99f;
$color-performance-yellow: #fceca5;
$color-performance-red: #ffc1d8;

$color-bg-gold: #fdf1e9;
$color-text-gold: #f49c69;
$color-text-blue: #a4a2e9;
$color-text-light: #979797;
$color-text-green: #067506;

$color-fill-grey: #999;

$white-trans: rgba(255, 255, 255, .24);
$white-trans-2: rgba(255, 255, 255, .68);
$black-trans: rgba(0, 0, 0, 0.32);

$grey-dark: rgba(36, 39, 114, 0.16);
$grey-mid: rgba(36, 39, 114, 0.04);
$grey-light: #f6f7fa;
$grey-lighter: #f9f9f9;

$color-primary: #E30054;
$color-alert: #e30054;

$color-status-inactive: #b9b9b9;
$color-status-paused: #736fde;
$color-secondary: #252872;
$color-shadow-dropdown: 0 3px 8px 2px rgba(0, 0, 0, .06);






