// Sizing Variables
$size-a: .5rem;
$size-b: .64rem;
$size-c: .72rem;
$size-d: .85rem;
$size-e: .92rem;
$size-BASE: 1rem;
$size-f: 1.12rem;
$size-g: 1.24rem;
$size-h: 1.32rem;
$size-i: 1.5rem;
$size-j: 1.74rem;
$size-k: 2rem;
$size-l: 2.5rem;
$size-m: 3rem;
$size-n: 4rem;


// Grid Variables
$grid-o-gutter--mob: $size-l;
$grid-o-gutter--tab: 7.5%;
$grid-o-gutter--dtp: 10%;

$grid-columns--mobile: 6;
$grid-columns--tablet: 8;
$grid-columns--desktop: 12;

$grid-i-gutter--mob: $size-BASE;
$grid-i-gutter--tab: $size-i;
$grid-i-gutter--dtp: $size-k;


// UI Variables
$header-height: 80px;
$header-height-mobile: 64px;
$border-radius: $size-a;
$nav-height: 4.5rem;


// z-index hierarchy function

