// Sizing Variables
$size-a: .5rem;
$size-b: .64rem;
$size-c: .72rem;
$size-d: .85rem;
$size-e: .92rem;
$size-BASE: 1rem;
$size-f: 1.12rem;
$size-g: 1.24rem;
$size-h: 1.32rem;
$size-i: 1.5rem;
$size-j: 1.74rem;
$size-k: 2rem;
$size-l: 2.5rem;
$size-m: 3rem;
$size-n: 3.5rem;
$size-o: 4rem;


// Grid Variables
$hi-grid-o-gutter--mob: $size-BASE;
$hi-grid-o-gutter--tab: $size-l;
$hi-grid-o-gutter--dtp: $size-n;

$hi-grid-columns--mob: 6;
$hi-grid-columns--tab: 8;
$hi-grid-columns--dtp: 12;

$hi-grid-i-gutter--mob: $size-BASE;
$hi-grid-i-gutter--tab: $size-BASE;
$hi-grid-i-gutter--dtp: $size-l;


// UI Variables
$hi-nav-height-mobile: $size-o;
$hi-nav-height: $size-o;

// z-index hierarchy function

