// Generic Grid Wrapper Class

@mixin hi-grid-wrapper($breakpoints: null) {
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;

  @if (index($breakpoints, 'desktop') or $breakpoints == null) {
    padding-left: $hi-grid-o-gutter--dtp;
    padding-right: $hi-grid-o-gutter--dtp;
  }

  @if (index($breakpoints, 'tablet') or $breakpoints == null) {
    @include hi-mq('tablet') {
      padding-left: $hi-grid-o-gutter--tab;
      padding-right: $hi-grid-o-gutter--tab;
    }
  }

  @if (index($breakpoints, 'mobile') or $breakpoints == null) {
    @include hi-mq('mobile') {
      padding-left: $hi-grid-o-gutter--mob;
      padding-right: $hi-grid-o-gutter--mob;
    }
  }
}

@mixin hi-grid-el-res($desktop-cols: false, $tablet-cols: false, $mobile-cols: false) {
  // variables specify the number of columns which each individual element spans

  @if ($desktop-cols) {
    width: hi-grid-el-dtp($desktop-cols);
  }

  @if ($tablet-cols) {
    @include hi-mq('tablet') {
      width: hi-grid-el-tab($tablet-cols);
    }
  }

  @if ($mobile-cols) {
    @include hi-mq('mobile') {
      width: hi-grid-el-mob($mobile-cols);
    }
  }
}