// Sizing Variables
$size-xxxs: .5rem;
$size-xxs: .625rem;
$size-xs: .75rem;
$size-s: .875rem;
$size-BASE: 1rem;
$size-sm: 1.125rem;
$size-m: 1.25rem;
$size-ml: 1.5rem;
$size-xml: 1.75rem;
$size-l: 2rem;
$size-xl: 2.5rem;
$size-xxl: 3rem;
$size-xxxl: 4rem;


// Grid Variables
$hi-grid-o-gutter--mob: $size-BASE;
$hi-grid-o-gutter--tab: $size-xl;
$hi-grid-o-gutter--dtp: 3.5rem;

$hi-grid-columns--mob: 6;
$hi-grid-columns--tab: 8;
$hi-grid-columns--dtp: 12;

$hi-grid-i-gutter--mob: $size-BASE;
$hi-grid-i-gutter--tab: $size-BASE;
$hi-grid-i-gutter--dtp: $size-xl;


// UI Variables
$hi-nav-height-mobile-small: 7.5rem;
$hi-nav-height-mobile: 6.375rem;
$hi-nav-height: $size-xxxl;
$hi-filter-height: 3.125rem;


$hi-card-border-radius: $size-ml;


// z-index hierarchy function

