$shadow-card: 0 .8rem 2rem rgba(0, 0, 0, .08), 0 .2rem .4rem rgba(0, 0, 0, .04);
$shadow-card-hover: 0 1.2rem 3rem rgba(0, 0, 0, .1), 0 .2rem .4rem rgba(0, 0, 0, .06);
$shadow-button: 0 2px 6px rgba(0, 0, 0, .16);
$shadow-button-hover: 0 4px 12px rgba(0, 0, 0, .24);
$shadow-overlay-container: 0 1px 4px 0px rgba(0, 0, 0, .08), 0 6px 12px 0 rgba(0, 0, 0, .08);
$shadow-filter: 0 12px 24px 0 rgba(0, 0, 0, .04), 0 1px 4px 0 rgba(0, 0, 0, .04);
$table-shadow: 0 12px 24px 0 rgba(0, 0, 0, .02), 0 2px 8px 0 rgba(0, 0, 0, .04);
$dropdown-shadow: 0 23px 35px 6px rgba(0, 0, 0, 0.03);
$shadow-toast: 0 -2px 8px rgba(0, 30, 60, 0.08);
$shadow-table: 0 2px 12px rgba(0, 0, 0, .12);
$shadow-header: 0 1px 6px rgba(0, 0, 0, .06);
$shadow-fab-action: 0 2px 8px rgba(7, 6, 58, .32);
$shadow-fab-action-hover: 0 1px 4px rgba(7, 6, 58, .48);
$shadow-fab-alert: 0 2px 8px rgba(69, 4, 28, .32);
$shadow-fab-alert-hover: 0 1px 4px rgba(69, 4, 28, .48);
$shadow-fab-success: 0 2px 8px rgba(3, 61, 35, .32);
$shadow-fab-success-hover: 0 1px 4px rgba(3, 61, 35, .48);
$shadow-fab-sec: 0 2px 8px rgba(0, 0, 0, .08);
$shadow-fab-sec-hover: 0 1px 4px rgba(0, 0, 0, .16);
$shadow-dropdown: 0 4px 8px rgba(0, 0, 0, .08);
$shadow-toast: 0 -2px 8px rgba(0, 30, 60, .08);
