// Button Classes
.hi-btn-primary {
  @include buttonFill($color-primary, $color-primary-hover, $white);
}

.hi-btn-fab {
  @include buttonFill($color-primary, $color-primary-hover, $white);
  padding: 0.3125rem $size-s 0.4375rem;
  position: fixed;
  bottom: $size-BASE;
  right: $size-BASE;

  @include hi-mq('tablet-small') {
    border-radius: 50%;
    padding: $size-xxs;

    span {
      display: none;
    }

    svg {
      transform: translateX(0);
    }
  }
}

.hi-btn-secondary {
  @include buttonFill($white, $white-hover, $color-primary);
}

.hi-btn-outline {
  @include buttonOutline($color-primary, $color-primary, $color-primary-hover);
}
