// Button Classes
.btn-primary {
  @include buttonFill($color-primary, $color-primary-hover, $white);
}

.btn-fab {
  @include buttonFill($color-primary, $color-primary-hover, $white);
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.btn-secondary {
  @include buttonFill($white, $white-hover, $color-primary);
}

.btn-outline {
  @include buttonOutline($color-primary, $color-primary, $color-primary-hover);
}
