@mixin hi-card($hover) {
  border-radius: $hi-card-border-radius;
  background: $white;
  box-shadow: $shadow-card-new;
  overflow: hidden;

  @if $hover != false {
    &:hover {
      box-shadow: $shadow-card-hover-new;
    }
  }
}