.switch {
  display: flex;
  align-items: center;

  &__inner {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    align-items: center;
    margin-right: $size-xxs;
  }

  &__text {
    @include label-small-bold;
    color: $color-purple-dark;
    text-transform: none;
  }

  &__box {
    position: relative;
    background: $color-purple-light;
    min-width: 72px;
    width: 72px;
    height: 32px;
    border-radius: 16px;

    &::after {
      @include transition-acceleration (all, .32s);
      position: absolute;
      display: block;
      width: 28px;
      height: 28px;
      transform: translate3d(0, 0, 0);
      border-radius: 16px;
      background: #F6F7FA;
      box-shadow: 0px 0px 3px rgb(0 0 0 / 20%);
      border: solid $white 2px;
      content: '';
    }
  }

  input {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
  }

  input:checked + &__box::after {
    background-color: $color-purple-dark;
    border: solid $white 2px;
    height: 28px;
    width: 28px;
    transform: translateX(125%);
  }
}
